body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url("http://i.vimeocdn.com/video/460516322_1280x720.jpg");
  background-size: cover;
  background-color: #cccccc;
}
body, a:link, a:visited, a:active{
  color: white;
  border: 1px solid white;
  border-radius: 6px;
  background-color: #CD0074;
  cursor: pointer;
  text-decoration: none;
  font-family: arial;



}

.clearTheFloor, .lineUpDancers {
  padding: 5px 12px;
  float: left;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:0px solid blue;
  border-radius:10px;
  position:absolute;
}
